body {
    width: 960px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    margin: auto;
    padding-bottom: 2px;
    font-size: 18px;
}



header, nav, section, aside, footer {
    display: block;
    padding: 20px;
    background: #ebebeb; 
    text-align: center;
    margin: 10px;
}

section {
    width: 49%;
    float: left;
    margin-right: 5px;
    height: 270px;
    overflow: hidden;
}

aside {
    width: 39%;
    float: right;
    height: 270px;

}

article {
    color: white;
    padding: 10px;
    background-color: #777;
}

.clear {
    clear: both;
}

h1, h2, p {
    color: #777;
    background: #ebebeb;
    padding: 10px;
    margin: 10px;
}

footer {
    background: #ebebeb; 
}